<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range .Paginator.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }} <!-- end if else eq .Params.showonlyimage true -->
                            <img src="{{.Params.image}}" alt="" class="img-responsive">
                        </a>
                      {{ end }} <!-- end if and (isset .Params "image") .Params.image -->
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }} <!-- end if else eq .Params.showonlyimage true -->
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div> <!-- div box-masonry-description -->
                      </div> <!-- div box-masonry-hover-text-header or box-masonry-text -->
                  </div> <!-- div box-masonry -->
              </div> <!-- div masonry-item -->
          {{ end }} <!-- end range -->
        </div> <!-- div row -->
    </div> <!-- div grid -->

          {{ if gt .Paginator.TotalPages 1 }}
          <nav class="paginate-container">
            <div class="pagination">
              <ul class="sidebar-menu">
                • 
                {{ range .Paginator.Pagers }}
                  <a href="{{ .URL }}">
                    {{ .PageNumber }}
                  </a> •
                {{ end }}

              </ul>
            </div>
          </nav>
          {{ end }}

</div> <!-- div class -->
